[Unit]
Description=Run script on reboot
Before=reboot.target
StopWhenUnneeded=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/udiskie-umount -e

[Install]
WantedBy=restart.target
