[Unit]
Description=Run script on Suspend/Resume
Before=sleep.target
StopWhenUnneeded=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/frank604/src/scripts/presuspend

[Install]
WantedBy=sleep.target
